.web__wrapper {
  background-color: #fff4ef;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 12rem;
}

.web__features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fff;
  padding: 10rem 8rem;
}

.web__features p {
  color: var(--secondary-color);
  font-size: var(--font-size-sm);
  margin-bottom: 2rem;
}
.web__features p:first-child {
  transform: translateY(-5rem);
  font-size: var(--font-size-md);
}

.web__features h2 {
  font-size: var(--font-size-xl);
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

.web__feature--items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 5rem;
}

.web__feature--items i {
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--light-color);
}

.web__feature--items h4 {
  font-size: var(--font-size-sm);
  font-weight: 700;
  margin: 2rem 0;
}

.feature__ux-design {
  padding-right: 2.5rem;
  transition: all 0.3s ease;
}

.feature__react {
  padding-left: 2.5rem;
  transition: all 0.3s ease;
}

.feature__ux-design:hover {
  color: #414fce;
  transform: translateY(-1rem);
}
.feature__react:hover {
  color: #ff7235;
  transform: translateY(-1rem);
}

i.box--ux-design {
  background-color: #414fce;
}

i.box--react {
  background-color: #ff7235;
}

.web__image {
  position: relative;
  /* background-color: #fff4ef; */
  /* padding: 10rem 2.5rem;*/ /*-----------------------------------------------------*/
}
.web__image img {
  position: relative;
  display: block;
  width: 80rem;
  transform: translateX(-3rem);
  z-index: 10;
  /* width: 100%; */
}

.web__image--circle {
  position: absolute;
  right: 5rem;
  bottom: 1rem;
  height: 30rem;
  width: 30rem;
  background-color: #94bf9e;
  border-radius: 50%;
  display: inline-block;
}
