#sign-up {
  transform: translateY(15rem);
}
.sign-up__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  max-width: 150rem;
  border-radius: var(--border-radius-md);
  margin: 0 auto;
  /* margin-bottom: 13rem; */
  /* transform: translateY(
    10rem
  ); -------------------------------------------------- */
  background: linear-gradient(to top right, #fdfdfd 30%, #fff);
  box-shadow: 3rem 2.5rem 5rem 4rem rgb(230, 229, 227);
  -webkit-box-shadow: 3rem 2.5rem 5rem 4rem rgb(230, 229, 227);
}

.sign-up__content h2 {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.sign-up__content p {
  font-size: var(--font-size-sm);
  color: var(--dark-color);
  margin: 2rem 0;
}

.sign-up__image img {
  height: 56rem;
  padding: 3rem;
}

.sign-up__btn {
  padding: 1.5rem 3rem;
}
