#hero {
  /* height: 88vh; */
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.hero__wrapper {
  display: grid;
  place-items: center;
  height: min-content;
}

/* ---------------------------- left item ---------------------------- */

.hero__left--item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 5rem;
}

.hero__left--item h1 {
  font-family: inherit;
  font-size: clamp(1.5rem, 10vmin, 8rem);
  place-items: center;
}

.left--item__arrow {
  position: relative;
}

.left--item__arrow img {
  position: absolute;
  top: -21rem;
  left: 31rem;
  height: 7rem;
}

.hero__left--item p {
  color: var(--secondary-color);
  font-size: clamp(2rem, 5vmin, 1rem);
}

.left--item__demo {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: clamp(0.5rem, 3vmin, 1.5rem);
}

/* ---------------------------- right item ---------------------------- */
.hero__right--item {
  display: none;
}

.hero__right--item img {
  width: clamp(50rem, 100%, 100rem);
}

/*----------------------------------- Media Queries-------------------------------*/
@media only screen and (max-width: 1200px) {
  #hero {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 540px) {
  .left--item__arrow img {
    top: -15rem;
    left: 20rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .left--item__arrow img {
    top: -12rem;
    left: 16rem;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .left--item__demo {
    flex-direction: row;
  }

  .hero__right--item {
    display: block;
  }
}
