@media only screen and (min-width: 576px) and (max-width: 767px) {
  #header {
    background-color: lightblue;
  }

  /* .hero__right--item img {
    display: none;
  } */
}

/* ---------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #header {
    background-color: lightcoral;
  }

  /* .hero__right--item img {
    display: none;
  } */
}
/* ---------------------------------------------------------------------------- */

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #header {
    background-color: lightcyan;
  }
  /* .hero__right--item img {
    display: none;
  } */

  /* .offers__wrapper {
    flex-direction: column;
  } */
}

/* ---------------------------------------------------------------------------- */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  #header {
    background-color: lightgreen;
  }
  /*
  .process__wrapper,
  .hero__left--item {
    padding: 0 5rem;
  }

  .hero__left--item h1 {
    font-size: 5rem;
  }

  .left--item__arrow img {
    width: 6rem;
  }

  .left--item__arrow {
    left: 20rem;
  }

  .hero__left--item p {
    font-size: var(--font-size-sm);
  }

  .hero__btn {
    padding: 1rem 2rem;
    font-size: var(--font-size-xs);
  }

  .hero__right--item img {
    height: 40rem;
  }
*/
  /*-------------- Our Procces ------------------*/
  /*.process__wrapper {
    margin-top: 10rem;
  }
  .process__item h2 {
    font-size: var(--font-size-lg);
  }

  .process__item p {
    font-size: var(--font-size-xs);
  }

  .process__item--box h3 {
    font-size: var(--font-size-sb);
  }

  .process__item--box h4 {
    font-size: var(--font-size-xs);
  }

  .process__item--box i {
    font-size: 3rem;
  }
*/
  /*-------------- Mobile App ------------------*/
  /*.mobile__image img {
    height: 50rem;
  }

  .mobile__features p {
    font-size: var(--font-size-ex);
  }
  .mobile__features p:first-child {
    font-size: var(--font-size-sm);
  }

  .mobile__features h2 {
    font-size: var(--font-size-lg);
  }

  .mobile__features {
    padding: 6rem 4rem;
  }

  .mobile__feature--items i {
    font-size: 3rem;
  }

  .mobile__feature--items p {
    font-size: var(--font-size-xs);
  }*/

  /*--------------Customize Offers ------------------*/
  /*#customize-offers h2 {
    font-size: var(--font-size-lg);
  }
  .offers__wrapper {
    margin: 12rem 3rem;
  }
  .offers__left--item {
    margin-top: 5rem;
  }

  .left--item__raiting img {
    top: -1.5rem;
    left: 10.5rem;
    width: 10rem;
  }

  .left--item__raiting-background {
    top: -5rem;
    width: 13rem;
    height: 13rem;
  }

  .left--item__happy-emoji {
    left: 31rem;
    width: 13rem;
  }

  .left--item__happy-emoji img {
    width: 7rem;
  }

  .left--item__happy-emoji p {
    font-size: var(--font-size-xs);
  }

  .left--item__customer img {
    position: absolute;
    left: 8rem;
    height: 26rem;
    border-radius: 50%;
    z-index: 5;
  }

  .left--item__customer-background {
    top: 10.6rem;
    left: 11rem;
    height: 15rem;
    width: 30rem;
    transform: rotate(159deg);
  }

  .left--item__small-circle {
    top: 26rem;
    height: 1.3rem;
    width: 1.3rem;
  }

  .offers__right--item > div {
    padding: 1.5rem 1.5rem;
  }

  .offers__right--item h3 {
    font-size: var(--font-size-md);
  }

  .offers__right--item p {
    font-size: var(--font-size-xs);
  }
*/
  /*-------------- Web Development ------------------*/
  /*.web__features {
    padding: 6rem 3rem 0 3rem;
    margin-left: 5rem;
  }

  .web__image img {
    height: 30rem;
  }

  .web__features p {
    font-size: var(--font-size-ex);
  }
  .web__features p:first-child {
    font-size: var(--font-size-sm);
  }

  .web__features h2 {
    font-size: var(--font-size-lg);
    width: 40rem;
  }

  .web__feature--items i {
    font-size: 2rem;
  }

  .web__feature--items p {
    font-size: var(--font-size-xs);
  }

  .web__image--circle {
    right: 4.5rem;
    height: 20rem;
    width: 20rem;
  }
*/
  /*-------------- Sign Up ------------------*/
  /*.sign-up__wrapper {
    max-width: 90rem;
  }
  .sign-up__content h2 {
    font-size: var(--font-size-lg);
  }

  .sign-up__content p {
    font-size: var(--font-size-xs);
  }

  .sign-up__image img {
    height: 46rem;
  }

  .sign-up__btn {
    padding: 1rem 2rem;
  }
*/
  /*-------------- footer ------------------*/
  /*.footer__wrapper h3 {
    font-size: var(--font-size-sm);
  }

  .footer__about p {
    font-size: var(--font-size-xs);
  }

  .resource__list,
  .usefull-links__list {
    font-size: var(--font-size-xs);
  }

  .email-button {
    padding: 0.5rem 1rem;
  }*/
}
/* ---------------------------------------------------------------------------- */
@media (min-width: 1201px) and (max-width: 1582px) {
  /*.hero__left--item h1 {
    font-size: 6rem;
  }

  .left--item__arrow {
    left: 25rem;
  }

  .hero__left--item p {
    font-size: var(--font-size-sm);
  }

  .hero__btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }*/
  /*---------- Customize Offers ------------*/
  /*.offers__wrapper {
    margin: 12rem 0;
  }*/

  /*---------------- web -------------*/
  /*.web__features h2 {
    width: 50rem;
  }*/
}

/* ---------------------------------------------------------------------------- */
@media screen and (min-width: 1583px) and (max-width: 1728px) {
  /*.offers__wrapper {
    margin: 12rem 1rem;
  }*/
}
